/* Colors */
:root {
    --softorange: #F4A259;
    --tomatored: #F00B00;
}

.close_container {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 20px;
    background-color: var(--softorange);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 20px;
    background-color: var(--softorange);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.label {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 500ms ease-in;
    opacity: 0;
}

.delete {
    margin: 45px 0 0 5px;
    position: absolute;
}

.close_container:hover .leftright {
    transform: rotate(-45deg);
    background-color: var(--tomatored);
}

.close_container:hover .rightleft {
    transform: rotate(45deg);
    background-color: var(--tomatored);
}

.close_container:hover label {
    opacity: 1;
}