:root {
    --blue: #1976D2;
}

.button {
    width: 180px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 18px;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
}

.button:hover {
    border: none;
    color: white;
    font-size: 20px;
    transform: scale(1.1);
}

.blue {
    border: 2px solid var(--blue);
    color: var(--blue);
}

.blue:hover {
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
}