nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A7C7E7;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

nav li a:hover {
    background-color: #94B4D1    
}

.loginButton {
    float: right;
    margin-right: 0.5rem;
}

.active {
    background-color: aquamarine;
}