.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 50px;
    background: #fff;
}

.center h1 {
    font-size: 2em;
    border-left: 5px solid var(--blue);
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 50px;
    font-weight: bold;
}

.inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}

.inputbox input {
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.inputbox:last-child {
    margin-bottom: 0;
}

.inputbox [type="button"] {
    width: 50%;
    background: var(--blue);
    color: #fff;
    border: #fff;
}

.inputbox:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, var(--blue));
}